@{
    ViewData["Title"] = "Movie List"; // sets the Title property of the ViewData dictionery to "MovieList"
                                  // The Title property is used in the <title> HTML element in the layout page
}

<h2>My Movie List</h2>

<p>Hello from our View Template!</p>